@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* preset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style for body */

body {
    background-color: rgb(206, 206, 206);
    font-family: 'Press Start 2P', cursive;
    }

h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    letter-spacing: 5px;
    color: red;
}

nav {
    height: 75px;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
}

.pixel_title{
    line-height: 75px;
    text-align: center;
}

.matching_game {
    height: 600px;
    width: 600px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}

/* style for cards */

.card {
    height: calc(30% - 10px);
    width: calc(45% - 10px);
    margin: 8px;
    position: relative;
}

.front_side,
.rear_side {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: absolute;
    border-radius: 7px;
    background-color: rgb(221, 237, 251);
}